<div class="swiper-slide card w-9/12 shadow-md m-4 rounded-lg p-3">
  <div class="card-content w-full">
    <img src="{{post.data.image}}" alt="{{post.data.imageAlt}}" >
    <p class="text-xs">Published Date :- {{ post.date | postDate }}</p>
    <div class="flex justify-between my-3">
      {% for tag in post.data.postTags %}
        <p class="bg-pink-100 p-2 text-xs text-">
          {{ tag }}
        </p>
      {%- endfor %}
    </div>

    <h4 class="font-semibold">
      {{post.data.title}}
    </h4>
    <p>
      {{post.data.description}}
    </p>
    <ul>
      {% for item in post.data.fruit %}
        <li>{{ item.name }}, cost: {{ item.cost }}, color: {{ item.color }}</li>
      {% endfor %}
    </ul>

    {% if post.data.show_footer %}
      <footer> Boolean footer true=> I am a footer</footer>
    {% endif %}
    <button class="text-purple-600 border-2 p-2 border-purple-400 rounded-md">Read Article</button>
  </div>
</div>