<div class="swiper-slide card w-9/12 shadow-md m-4 rounded-lg p-3">
              <div class="card-content w-full">
                  <img src="{{post.data.image}}" alt="{{post.data.imageAlt}}" >
                <p class="text-xs">Published Date :- {{ page.date | postDate }}</p>
                <div class="flex justify-between my-3">
                  <p class="bg-pink-100 p-2 text-xs text-">EXCLUSIVE</p>
                  <p class="bg-pink-100 p-2 text-xs">MENTAL HEALTH</p>
                  <p class="bg-pink-100 p-2 text-xs">ADDCITION</p>
                  <p class="bg-pink-100 p-2 text-xs">DRUGS</p>
                </div>
                <h4 class="font-semibold">
                  {{post.data.title}}
                </h4>
                <p>
                 {{post.data.description}}
                </p>
                <button
                  class="text-purple-600 border-2 p-2 border-purple-400 rounded-md"
                >
                  Read Article
                </button>
              </div>
            </div>