<div class="swiper-slide card w-10/12  rounded-lg p-3">
  <div class="card-content w-full">
    <img src="{{post.data.image}}" alt="{{post.data.imageAlt}}" >
    <p class="text-xs mt-3">Published Date : {{ post.date | postDate }}</p>
    <div class="flex my-3 whitespace-nowrap">
      {% for tag in post.data.postTags %}
        <p class="bg-pink-50 uppercase p-1 mr-2 text-xs">
          {{ tag }}
        </p>
      {%- endfor %}
    </div>
    <h4 class="font-semibold">
      <a href="{{ post.url }}" target="_blank">
                {{post.data.title}}
    </a>
   
    </h4>
    <p class="mt-3">
      {{post.data.description}}
    </p>
    {# For Future purpose #}
    {# 
               <ul>
      {% for item in post.data.fruit %}
        <li>{{ item.name }}, cost: {{ item.cost }}, color: {{ item.color }}</li>
      {% endfor %}
    </ul>

    {% if post.data.show_footer %}
      <footer> Boolean footer true=> I am a footer</footer>
    {% endif %} #}

    <a href="{{ post.url }}"  class="text-sumireVoilet px-4 border-2 py-2 mt-8 border-sumireVoilet rounded-md">
                Read Article
    </a>
  </div>
</div>