<div class="w-full">
    <div class="w-19 max-[1024px]:w-[21%] ml-1.2 shadow-md rounded-md relative px-5 py-6 border-2">
      <img src="/assets/contact_section.svg" alt="" class="absolute right-0 top-0 max-[1024px]:h-16 h-20">
      <p class="font-semibold mb-4">Have Questions?</p>
      <p class="mb-3">Reach out to us</p>
      <span class="flex whitespace-nowrap">
        <img src="/assets/phone.svg" alt="">
        <p class="text-sumireVoilet font-bold ml-3">{{contact.data.contact}}</p>
      </span>
    </div>
  </div>