{# <div class="schedule-calendar flex flex-col bg-white rounded-xl text-center p-5 lg:m-5">
    <p class="text-2xl lg:text-3xl font-semibold">Download White Paper</p>
    <p class="my-3">Download our white paper to know more</p>
    <section class="relative text-center">
        <img src="/assets/features/white_paper_blur.png" alt="whitepaper" class="w-full"/>
        <section class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[212px]">
            <img src="/assets/features/paper.svg" alt="whitepaper" class="mx-auto mb-2">
            <p class="mb-7 font-semibold">Download our white paper to know more</p>
            <button id="modalBtn" target="_blank" class="text-white bg-sumireVoilet cursor-pointer p-3 rounded-md">Download</button>

        </section>
    </section>
</div>
{% include 'white-paper-modal-mobile.njk' %} #}



<div class="schedule-calendar flex flex-col bg-white rounded-xl text-center p-5 lg:m-5 download-box-height w-[430px]">
    <p class="text-2xl lg:text-3xl font-semibold">Download White Paper</p>
    {# <p class="my-3">Download our white paper to know more</p> #}
    <div class="w-[300px] max-w-screen-lg mx-auto">
        {%- for whitepaperdownload in collections.whitepaperdownload | reverse -%}<p class="font-semibold text-center p-5 text-sm">{{ whitepaperdownload.data.title }}<p>
                    <p class="text-xs revel-text">{{ whitepaperdownload.data.description | safe }}
                    </p>
                {%- endfor -%}
            </div>
            <div
                class="relative text-center">
                {# <img src="/assets/features/white_paper_blur.png" alt="whitepaper" class="w-full"/> #}
                <div class="absolute top-16 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[212px]">
                    <img src="/assets/features/paper.svg" alt="whitepaper" class="mx-auto mb-2 hidden">
                        <p class="mb-7 font-semibold">Download our white paper to know more</p>
                        <button id="modalBtn" target="_blank" class="text-white bg-sumireVoilet cursor-pointer p-3 rounded-md" download>Download</button>
                    </div>
                </div>
            </div>
            {% include 'white-paper-modal-mobile.njk' %}