<div
    id="whitePaperModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content flex flex-row-reverse w-[390px] lg:w-[536px]">
        <span class="modalClose">&times;</span>
                {% include 'download_whitepaper.njk' %}
        </div>
    </div>