<div
    id="whitePaperModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content rounded-2xl relative w-[390px] flex lg:w-[800px] h-[700px] lg:h-[600px]">
        <span class="modalClose absolute right-12">&times;</span>
                {% include 'whitepaper_modal_content.njk' %}
        </div>
    </div>