<div class="bg-white p-1 md:w-5/5 lg:w-4/5 mt-16 rounded-lg">
  <div class="card relative rounded-lg p-5 bg-pink-200/50">
    <img src="{{feature.data.image}}" alt="{{feature.data.imageAlt}}" 
                class="absolute"
                style="top: -58px; left: 10px">
    <p class="text-xs mt-7">
      {{feature.data.label}}</p>
    <h4 class="my-7 font-semibold">
      {{feature.data.title}}
    </h4>
    <p class="text-sm">
      {{feature.data.description}}
      <span>Check it out.</span>
    </p>
    <div class="footer mt-20">
      <button class="bg-purple-700 px-4 py-2 text-white">
                  Watch Demo
                </button>
      <button class="text-purple-800 font-semibold text-xs">
                  READ THE CASE STUDY
                </button>
    </div>
  </div>
</div>