<div class="bg-white p-0.5 w-11/12 mt-16 rounded-3xl">
  <div class="card relative rounded-3xl h-96 p-6 bg-pink-200/50 hover:text-white hover:bg-gradient-to-r hover:from-bgpurple
      hover:via-bgpink hover:to-bgyellow">
    <span
      class="bg-gradient-to-r h-20 w-20 flex justify-center border-white border-3 items-center rounded-md from-bgpurple
        via-bgpink to-bgyellow absolute"
      style="top: -42px; left: 21px">
      <img src="{{feature.data.image}}" alt="{{feature.data.imageAlt}}"/>
    </span>
    <p class="text-xs mt-7 uppercase">{{feature.data.label}}</p>
    <h4 class="my-3 font-semibold feature-title">
      {{feature.data.title}}
    </h4>
    <p class="text-sm feature-description">
      {{feature.data.description}}
    </p>
    <div class="footer absolute bottom-5">
      <button class="bg-sumireVoilet px-4 py-2 text-sm rounded-md text-white">
        Watch Demo
      </button>
      <a href="{{feature.url}}" target="_blank" class="text-sumireVoilet ml-3 font-semibold text-xs">
        READ THE CASE STUDY <img src="/assets/read_study_case.svg" alt="" style="display:inline-block; margin-bottom:3px;margin-left:2px">
      </a>
    </div>
  </div>
</div>