---
title: post
layout: 'base.njk'
---
<div class="lg:px-16 py-5 h-auto mb-10 inline-block">
  <div class="tabs lg:grid grid-cols-5 h-auto relative">
    {%  include '../tabs-menu.njk'%}
    <div class="tab-content lg:col-span-4 h-auto">
      {% include 'feature-post-template.njk' %}
       
    </div>
  </div>
</div>


<section class="w-full mt-10 px-4 lg:px-20 relative">
                <div class="flex justify-between items-center flex-wrap mb-8">
                    <div>
                        <h3 class="text-4xl font-bold mb-3">Blogs</h3>
                        <span class="text-[1.5rem]">Catchup on the good stuff</span>
                    </div>
                    <div class="flex lg:justify-end justify-between m-[15px]">
                        <div class="order-2 lg:order-none blog-pagination flex md:justify-center lg:justify-end md:top-[16px] top-[7px] lg:top-[13px]
                            lg:mr-5 relative"></div>
                        <div class="order-1 lg:order-none blog-prev-button w-14 lg:mr-[11px]">
                            <img src="/assets/prev.svg" alt="" class="h-6 md:h-fit lg:h-fit"/>
                        </div>
                        <div class="order-3 lg:order-none blog-next-button w-14">
                            <img src="/assets/next.svg" alt="" class="h-6 md:h-fit lg:h-fit"/>
                        </div>
                    </div>
                </div>
                <div class="swiper blog-Swiper">
                    <div class="swiper-wrapper w-96 content">
                        {%- for post in collections.post | reverse -%}
                            {% include 'article-snippts.njk' %}
                        {%- endfor -%}
                    </div>
                </div>
            </section>
