 <!--  footer section starts here  --->
      <div
        class="p-14 mt-20 w-full text-white grid grid-cols-4"
        style="background-color: #31184c"
      >
        <div>
          <div class="flex items-center mb-3">
            <img src="./assets/youu_logo.svg" class="h-7 mr-2" alt="" />
            <p class="text-purple-900 text-4xl mb-3 font-semibold">youu</p>
          </div>
          <p class="font-light text-xs mb-3">info@email.com</p>
          <div class="social-media flex justify-between w-20">
            <img src="./assets/linkdin.svg" class="h-3" alt="" />
            <img src="./assets/meta.svg" class="h-3" alt="" />
            <img src="./assets/twitter.svg" class="h-3" alt="" />
            <img src="./assets/insta.svg" class="h-3" alt="" />
          </div>
        </div>
        <div class="links">
          <p class="font-medium mb-2">Links</p>
          <ul class="flex w-40 flex-wrap font-light">
            <li class="text-sm mr-4 mb-2">Products</li>
            <li class="text-sm mr-4 mb-2">Use Cases</li>
            <li class="text-sm mr-4 mb-2">Learning</li>
            <li class="text-sm mr-4 mb-2">Support</li>
            <li class="text-sm mr-4 mb-2">Company</li>
          </ul>
        </div>
        <div class="about col-span-2">
          <p class="font-medium">About Us</p>
          <span class="font-light"
            >Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Repellendus recusandae optio id? Quaerat repudiandae quod nemo
            nostrum, illo asperiores non qui quos praesentium, et natus placeat,
            nihil sequi quam temporibus!</span
          >
        </div>
      </div>
      <p
        class="w-full text-center text-white text-xs pb-3"
        style="background-color: #31184c"
      >
        Copyright 2023
      </p>
      <!--  footer section ends here  --->