{# footer section starts here #}
<div>
  <div class="p-5 lg:p-14 mt-20 w-full text-white grid md:grid-cols-1 lg:grid-cols-4" style="background-color: #31184C">
    <div class="lg:col-span-2 md:mt-5 lg:mt-0">
      <div class="flex items-center mb-3">
        <img src="/assets/youu_logo.svg" class="h-7 mr-2" alt=""/>
        <p class="text-white text-4xl mb-3 relative font-semibold after:content-['HEALTH'] after:text-xs after:text-white
            after:font-light after:absolute after:top-full after:right-0">
          youu</p>
      </div>
      <p class="text-base font-light w-full lg:w-4/5 mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed .</p>
      <div class="social-media flex justify-between items-center w-80 md:w-[30rem]">
        <p class="font-light text-lg">inquiry@youu.com</p>
        <a href="https://www.linkedin.com/company/youuhealth/" target="_blank">
          <img src="/assets/linkdin.svg" class="h-4 md:max-lg:h-6" alt=""/>
        </a>
        <a href="https://twitter.com/youuhealth" target="_blank">
          <img src="/assets/twitter.svg" class="h-4 md:max-lg:h-6" alt=""/>
        </a>
        <a href="https://www.instagram.com/youuhealth/" target="_blank">
          <img src="/assets/insta.svg" class="h-4 md:max-lg:h-6" alt=""/>
        </a>
        <a href="https://www.facebook.com/youuhealth" target="_blank">
          <img src="/assets/meta.svg" class="h-4 md:max-lg:h-6" alt=""/>
        </a>
      </div>
    </div>
    <div class="links mt-5 lg:mt-0">
      <p class="font-medium mb-2 lg:mb-4">Links</p>
      <ul class="flex md:w-full lg:w-40 flex-wrap font-light">
        <li class="text-sm mr-4 mb-2">About Us</li>
        {# <li class="text-sm mr-4 mb-2">Use Cases</li> #}
        <li class="text-sm mr-4 mb-2">Learning</li>
        <li class="text-sm mr-4 mb-2">Support</li>
        {# <li class="text-sm mr-4 mb-2">Company</li> #}
      </ul>
    </div>
    <div class="about mt-5 lg:mt-0">
      <p class="font-medium mb-2 lg:mb-4">Subscribe to our newsletter</p>
      <span class="font-light">Stay up to date with the latest news from us! Sign up for our newsletter and get all the
        coolest updates in your inbox.</span>
      <div class="mt-7 flex items-center">
        <input
          type="text"
          class="border-gray-300 focus:outline-none text-black w-8/12 lg:w-8/12 border-2 px-4 py-2 text-xs rounded-md"
          placeholder="Email"
          id="email"/>
        <button class="bg-sumireVoilet text-white p-[0.45rem] text-sm rounded-md ml-8" id="submitButton">
          Subscribe
        </button>
      </div>
      <p id="errorMsg" class="absolute"></p>
    </div>
  </div>
  <p class="w-full text-center text-white text-xs pb-3" style="background-color: #31184c">
    Copyright 2023
  </p>
</div>
{# footer section ends here #}