<header>
  <div class="bg-white relative z-20 header-section lg:flex lg:justify-between lg:items-center py-2 px-4 lg:px-16">
    <div class="flex justify-between items-center">
      <a href="/">
        <span class="flex items-center">
          <img src="/assets/youu_logo.svg" class="max-[1024px]:h-7 h-10 mr-2" alt=""/>
          <p class="text-[#4C3B66] max-[1024px]:text-3xl text-5xl relative mb-5 font-semibold  after:content-['HEALTH'] after:max-[1024px]:text-xs after:text-[0.775rem]
              after:text-black after:absolute after:top-[95%] after:right-[3px]">
            youu
          </p>
        </span>
      </a>
      <nav class="hidden lg:inline-block ml-6 max-[1024px]:ml-10">
      <ul class="flex justify-between menu-items font-normal flex-wrap">
       <li class="text-sm mx-4"><a>About Us</a></li>
        {# <li class="text-sm mx-4">Use Cases</li> #}
        <li class="text-sm mx-4"><a>Learning</a></li>
        <li class="text-sm mx-4"> <a>Support</a></li>
        <li class="text-sm mx-4"><a href="/blog/" >Blogs</a></li>
      </ul>
    </nav>
      <div class="lg:hidden flex items-center">
        {# <img src="/assets/search_icon.svg" class="h-6 mx-4" alt=""/> #}
        <ion-icon name="menu-outline" onclick="MyClick(this)" class=" text-sumireVoilet cursor-pointer text-4xl"></ion-icon>
      </div>
    </div>
    <div class="hidden lg:flex justify-center items-center">
      {# <img src="/assets/search_icon.svg" class="h-6 max-[1024px]:mx-0 mx-3 hidden md:inline-block lg:inline-block" alt=""/> #}
      <div class="flex justify-around items-center">
        <div class="contact flex justify-between mx-4">
          <a class="mr-2 text-sm whitespace-nowrap">Contact Us</a>
          {% for contact in collections.contact | reverse %}
            <a href="tel:{{ contact.data.contact }}" class="text-purple-700 text-sm font-semibold flex items-center whitespace-nowrap"><img class="mr-2 h-5" src="/assets/phone.svg" alt=""/> {{ contact.data.contact }} </a>
          {%- endfor %}
        </div>
        <a
          href="https://provider.soberpeer.com/#/"
          target="_blank"
          class="bg-purple-900 mx-4 text-xs px-4 py-2 rounded-md opacity-80 text-white">
          Login
        </a>
      </div>
    </div>
  </div>
  <div id="nav-item" class="-top-full opacity-0 z-10 inline-block lg:hidden absolute transition-all ease-in duration-200">
    {# <nav class=""> #}
      <ul class="menu-items">
        <li class="text-sm mx-4"><a>About Us</a></li>
        {# <li class="text-sm mx-4">Use Cases</li> #}
        <li class="text-sm mx-4"><a>Learning</a></li>
        <li class="text-sm mx-4"> <a>Support</a></li>
        <li class="text-sm mx-4"><a href="/blog/" >Blogs</a></li>
      </ul>
    {# </nav> #}
    <div class="flex items-center absolute bottom-[140px] mt-4">
      <div class="contact flex justify-between mx-4">
        {# <p class="mr-2 text-sm">Contact Us</p> #}
        {% for contact in collections.contact | reverse %}
          <span class="text-purple-700 border-2 whitespace-nowrap border-sumireVoilet py-2 px-3 rounded-md text-sm font-semibold flex items-center"><img class="mr-2 h-5" src="/assets/phone.svg" alt=""/>   <a href="tel:{{ contact.data.contact }}">Contact Us </a></span>
        {%- endfor %}
      </div>
      <a
        href="https://provider.soberpeer.com/#/"
        target="_blank"
        class="bg-purple-900 mx-4 text-sm px-4 py-2 rounded-md opacity-80 text-white">
        Login
      </a>
    </div>
  </div>
</header>

<script>
  function MyClick(e) {
  let list = document.getElementById("nav-item");

  e.name === "menu-outline"
    ? ((e.name = "close-outline"),
      list.classList.remove("-top-full"),
      list.classList.add("top-25"),
      list.classList.add("w-full"))
    : ((e.name = "menu-outline"),
      list.classList.add("-top-full"),
      list.classList.remove("top-25"),
      list.classList.add("w-full"));
}
</script>

{# {{ contact.data.contact }} #}