<div class="schedule-calendar flex flex-col bg-white rounded-xl text-center p-5 m-5">
    <p class="text-3xl font-semibold">Have Questions? Lets Meet</p>
    <p class="mt-3">Select a time you like to meet with us</p>
    <img src="/assets/blog/calendar.svg" alt="calendar" class="-top-14 relative" />
    <p class="mb-14">
        <a href="https://meetings.hubspot.com/rlubeck" target="_blank" class="text-white bg-sumireVoilet p-3 my-10 rounded-md">Schedule Now</a>
    </p>
</div>