---
title: slider
layout: 'base.njk'
---

<div class="lg:px-16 py-5 inline-block main-article bg-[url('/assets/blog_bg_image.svg')] bg-no-repeat bg-right-top bg-45
        bg-50 h-auto mb-10">
    <div class="tabs lg:grid grid-cols-5 h-auto relative">
        <div class="hidden lg:inline-block">
            <div class="relative">
                <div class="tab-header  relative pr-2 h-fit  border-r-4 ml-1.2">
                    {%- for slider in collections.slider -%}
                        {% include 'sliderTitle.njk' %}
                    {%- endfor -%}
                </div>
                {%- for contact in collections.contact -%}
                    {% include 'contact.njk' %}
                {%- endfor -%}
            </div>
            <div class="tab-indicator"></div>
        </div>
        <!-- col-span-2 relative h-full overflow-hidden -->
        <div class=" relative  sm:inline-block md:inline-block lg:hidden overflow-hidden" style="width: 100%">
            <select
                name=""
                id="tabTitle"
                onchange="redirect(this.value)"
                style="width: 92%"
                class="mb-8 mt-5 mx-4 border-2 p-2.5 rounded-md bg-sumireVoilet text-white font-semibold outline-0 border-sumireVoilet ">
                {%- for slider in collections.slider -%}
                    <option value="{{ slider.url }}">
                        {{ slider.data.slideButtonText }}
                    </option>
                {%- endfor -%}
            </select>
        </div>
        <div class="tab-content lg:col-span-4 h-auto">
            <article class="">
                <div class="flow md:px-8 px-8">
                    <h1 class="article-title text-[2rem] font-bold mb-3">
                        {{ postTitle }}
                    </h1>
                    <p class="mb-5 text-lg italic">{{ postDescription }}</p>
                    {% include 'social-media.njk' %}
                    <div class="lg:flex">
                        <div class="sm:w-full md:w-full lg:w-4/6">
                            {%- if postVideoURL.length %}
                                <div class="bg-white rounded-xl p-2">
                                    {%- if postVideoURL.includes("youtube") -%}
                                        <iframe src="{{ postVideoURL }}" id="iframe" class="w-full rounded-lg h-[300px] lg:h-[500px]" frameborder="0" allowfullscreen></iframe>
                                    {%- else -%}
                                        <video playsinline controls class="w-full rounded-lg" name="media">
                                            <source src="{{ postVideoURL }}#t=0.001" type="video/mp4"></video>
                                        {%- endif -%}
                                    </div>
                                {%- endif -%}
                                {%- if postImage.length %}
                                    <div class="bg-white image-bg rounded-xl p-6 flex h-[300px] lg:h-[500px]">
                                        <img src="{{ postImage }}" alt="whitepaper" class="w-full object-contain"/>
                                    </div>
                                {%- endif -%}
                                <div class="blog-body text-lg">
                                    {{ content | safe }}
                                </div>
                            </div>
                            <div>
                                {# hidden lg: #}
                                <div class="schedule-calendar inline-block  flex-col  rounded-xl text-center p-5 lg:m-5 lg:mt-0">
                                    {% include 'download_whitepaper.njk' %}
                                    {% include 'toast-message.njk' %}
                                    {% include 'schedule.njk' %}
                                </div>
                                {# <div class="inline-block lg:hidden ">
                                                                            {% include 'download_whitepaper.njk' %}
                                                                            {% include 'toast-message-mobile.njk' %}
                                                                            {% include 'schedule.njk' %}
                                                                        </div> #}
                                {# {% include 'download_whitepaper-mobile.njk' %} #}
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <section class="w-full mt-10 px-4 lg:px-20 relative">
        <div class="flex justify-between items-center flex-wrap mb-8">
            <div>
                <h3 class="text-4xl font-bold mb-3">Blogs</h3>
                <span class="text-[1.5rem]">Catchup on the good stuff</span>
            </div>
            <div class="flex lg:justify-end justify-between m-[15px]">
                <div class="order-2 lg:order-none blog-pagination flex md:justify-center lg:justify-end md:top-[16px] top-[7px] lg:top-[13px]
                    lg:mr-5 relative"></div>
                <div class="order-1 lg:order-none blog-prev-button w-14 lg:mr-[11px]">
                    <img src="/assets/prev.svg" alt="" class="h-6 md:h-fit lg:h-fit"/>
                </div>
                <div class="order-3 lg:order-none blog-next-button w-14">
                    <img src="/assets/next.svg" alt="" class="h-6 md:h-fit lg:h-fit"/>
                </div>
            </div>
        </div>
        <div class="swiper blog-Swiper">
            <div class="swiper-wrapper w-96 content">
                {%- for post in collections.post | reverse -%}
                    {% include 'article-snippts.njk' %}
                {%- endfor -%}
            </div>
        </div>
        <div
    id="whitePaperModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content flex flex-row-reverse w-[390px] lg:w-[536px]">
        <span class="modalClose">&times;</span>
                {% include 'download_whitepaper-mobile.njk' %}
        </div>
    </div>
    </section>
    <script type="module">
        import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js'
        var swiper = new Swiper(".blog-Swiper", {
            slidesPerView: 3.5,
            spaceBetween: 5,
            // slideClass: ".slider",
            slidesPerGroup: 3,
            loop: false,
            loopFillGroupWithBlank: true,
            pagination: {
                el: ".blog-pagination",
                clickable: true
            },
            allowTouchMove: true,
            navigation: {
                nextEl: ".blog-next-button",
                prevEl: ".blog-prev-button"
            },
            breakpoints: {
                // when window width is >= 320px
                0: {
                    slidesPerView: 1.2,
                    slidesPerGroup: 1,
                    // spaceBetween: 5,
                },
                // when window width is >= 480px
                520: {
                    slidesPerView: 2.2,
                    slidesPerGroup: 2,
                    // spaceBetween: 10,
                },
                // when window width is >= 640px
                950: {
                    slidesPerView: 3.5,
                    slidesPerGroup: 3,
                    // spaceBetween: 20,
                }
            }
        });
        let title = document.getElementById("tabTitle");
        function _class(name) {
            return document.getElementsByClassName(name);
        }
        let tabPanes = _class("tab-header")[0].getElementsByTagName("a");
        let urlPathnames = [
            "preparing-you-for-a-new-care-model-",
            "why-you-will-want-in-and-why",
            "get-connected-with-your-connected-device",
            "digital-health-changes-everything",
            "shaping-campus-careers-and-lifestyle-communities",
            "why-the-youuniverse-changes-the-payer-and-provider-conversation",
            "think-globally-act-locally",
            "building-your-consumer-connected-community",
            "be-creative-create-your-own-unique-community"
        ]
        let url = window.location.pathname;
        for (let i = 0; i < urlPathnames.length; i++) {
            if (url.toLowerCase().includes(urlPathnames[i])) {
                tabPanes[i].classList.add("active");
                _class("tab-indicator")[0].style.top = `calc(10px + ${
                    i * 56
                }px)`;
            }
        }
        let options = document.getElementById("tabTitle");
        for (let i = 0; i < urlPathnames.length; i++) {
            if (url.toLowerCase().includes(urlPathnames[i])) {
                options[i].selected = true;
            }
        }
        let tabTitle = document.getElementById("tabTitle");
        tabTitle.addEventListener("change", function (e) {
            window.location = e.target.value;
        })
        let isWPDownloaded = sessionStorage.getItem("isWPDownloaded");

        if (isWPDownloaded != 'true' && url.toLowerCase().includes(urlPathnames[0])) {
            let initModal = document.getElementById("whitePaperModal");
            let close = document.getElementsByClassName("modalClose")[0];
            if (initModal) {
            initModal.style.display = "block";
            }
            console.log(isWPDownloaded, initModal, url, "this is sairam");
            close && close.addEventListener("click", function () {
                initModal.style.display = "none";
            });
        }
        document.addEventListener("DOMContentLoaded", function () {});
    </script>