<div class="ml-8 absolute pb-5">
    <span class="ml-8">
        <p class="float-right after:content-[' '] after:clear-both rounded-md shadow-md ml-8 mt-12">
            <!-- <img src="./assets/tab_photo.svg" alt="" class="h-72 w-80" /> -->
            {# <span class='embed-container'>
                                <iframe src="{{slider.data.videoURL}}" frameborder='0' allowfullscreen></iframe>
                            </span> #}
            <iframe src="{{slider.data.videoURL}}" class="bg-purple-200 aspect-video max-[1024px]:aspect-square  h-72" frameborder="0" allowfullscreen> </iframe>
            <img src="./assets/tab_footer_photo.svg" alt="" class="w-64 m-auto"/>
        </p>
        <p class="mb-5">{{slider.data.slideShortTitle}}</p>
        <h2 class="font-bold text-3xl lg:text-4xl mb-5">
            {{slider.data.slideTitle}}
        </h2>
        <p class="mb-5 text-lg">
            {{slider.data.sliderDescription}}
        </p>
        <span class="mb-3 flex items-start text-lg">
            <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="" />
            <p>
                Our super smart YOUUtilityTM Augmented Intelligence, value-based interconnected care workflows and mobile devices
                makes providing care easier with less hassle.
            </p>
        </span>
        <span class="mb-3 flex items-start text-lg">
            <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="" />
            <p>
                It gets you closer to the customer and transforms your traditional business model into digital value-based care communities
            </p>
        </span>
        <span class="mb-3 flex items-start text-lg">
            <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="" />
            <p>
                It's no longer about simply providing care; it's about adding value, removing risk and engaging the customer – for life.
            </p>
        </span>
        <span class="footer absolute top-full">
            <button class="bg-sumireVoilet px-4 py-2 text-sm rounded-md font-semibold text-white">
                Watch Demo
            </button>
            <a href="{{slider.url}}" class="text-sumireVoilet ml-7 font-bold text-sm">
                READ THE CASE STUDY <img src="/assets/read_study_case.svg" alt="" style="display:inline-block; margin-bottom:3px;margin-left:2px">
            </a>
        </span>
    </span>
    {{ content | safe }}
</div>