<div class="h-12 mt-2 border-2  shadow-lg rounded-md text-purple-700 whitespace-nowrap leading-10 text-sm font-semibold cursor-pointer">
    <span class="pl-6">{{slider.data.slideButtonText}}</span>
</div>