<div class="absolute mt-5 flex py-5">
    <span class="w-1/2 ml-12">
        <p class="mb-5">{{slider.data.slideShortTitle}}</p>
        <h2 class="font-bold text-4xl mb-5">
            {{slider.data.slideTitle}}
        </h2>
        <p class="mb-5">
            {{slider.data.sliderDescription}}
        </p>
    </p>
    {# <p class="font-semibold mb-3">
                Here’s why more and more healthcare innovators want in:
              </p> #}

    <span class="mb-3 flex items-start">

        <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="">
        <p>Our super smart YOUUtilityTM Augmented Intelligence,
                  value-based interconnected care workflows and mobile devices
                  makes providing care easier with less hassle.</p>
    </span>

    <span class="footer absolute top-full">
        <button class="bg-sumireVoilet px-4 py-2 text-sm rounded-md text-white">
                  Watch Demo
                </button>
        <button class="text-sumireVoilet ml-7 font-semibold text-xs">
                  READ THE CASE STUDY
                </button>
    </span>
</span>
<span class="w-1/2 flex justify-center items-center">

    <span class=" rounded-md shadow-md">
        <!-- <img src="./assets/tab_photo.svg" alt="" class="h-72 w-80" /> -->
        <iframe width="560" height="315" src="{{slider.data.videoURL}}" class="bg-purple-200 w-80 h-72"
                frameborder="0" allowfullscreen></iframe>
        <img src="./assets/tab_footer_photo.svg" alt="" class="w-64 m-auto"/>
    </span>
</span>

    {{ content | safe }}
</div>