<a  href="{{ slider.url }}" class="h-12 mt-2 border-2 flex items-center shadow-sm rounded-md text-purple-700 whitespace-nowrap w-full leading-10
        text-sm font-semibold cursor-pointer">
    <div href="{{ slider.url }}" class="pl-6">{{slider.data.slideButtonText}}</div>
</a>