<div class="social-links my-3 lg:my-0 flex items-center w-330 justify-between">
    <p class="uppercase">share</p>
    <a
        href="https://www.linkedin.com/company/youuhealth/"
        target="_blank"
        class="social-icons bg-white rounded-full  h-10 w-10 flex justify-center items-center">
        <img src="/assets/blog/linkdn.svg" alt="" class="h-5 w-5">
    </a>
    <a
        target="_blank"
        class="social-icons bg-white rounded-full h-10 w-10 flex justify-center items-center"
        id="twitterShare">
        <img src="/assets/blog/twitter.svg" alt="" class="h-5 w-5">
    </a>
    <a
        href="https://www.instagram.com/youuhealth/"
        target="_blank"
        class="social-icons bg-white rounded-full h-10 w-10 flex justify-center items-center">
        <img src="/assets/blog/insta.svg" alt="" class="h-5 w-5">
    </a>
    <a
        href="https://www.facebook.com/youuhealth"
        target="_blank"
        class="social-icons bg-white rounded-full h-10 w-10 flex justify-center items-center">
        <img src="/assets/blog/facebook.svg" alt="" class="h-5 w-5">
    </a>
    {# <a class="social-icons bg-white rounded-full h-10 w-10 flex justify-center items-center">
        <img src="/assets/blog/link.svg" alt="" class="h-5 w-5">
        </a> #}
</div>


<script>
    
let twitterShare = document.getElementById("twitterShare");

twitterShare.addEventListener("click", function () {


  let url = encodeURI(window.location.href);
 let Shareurl = `https://twitter.com/intent/tweet?url=${url}`;
  twitterShare.href = Shareurl;
 });

</script>