<div class="toast" id="toast">
  <div class="toast-content">
    <i class="fas fa-solid fa-check check"></i>
    <div class="message">
      <span class="text text-1">Submitted Successfully</span>
    </div>
  </div>
  <i class="fa-solid fa-xmark closeToast"></i>
  <div class="progress"></div>
</div>