* {
  box-sizing: border-box;
}

.tabs .tab-header > div.active {
  color: white !important;
  background-color: #6c54a0 !important;
}

.tabs .tab-content > div {
  top: -300% !important;
  transition: all 500ms ease-out !important;
}

.top-animation {
  top: -300% !important;
}
.bottom-animation {
  bottom: -300% !important;
}

.tabs .tab-content > div.active {
  top: 0px !important;
}

.tabs .tab-indicator {
  position: absolute !important;
  width: 4px !important;
  height: 43px !important;
  background: #6c54a0 !important;
  left: 19.7%;
  top: 10px;
  transition: all 500ms ease-in-out !important;
  border-radius: 30px !important;
}

/* .swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 0 !important;
} */

.blog-description {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.blog-title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/* .blog-title-cut {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
} */

.blog-body * {
  /* width: 45%; */
  margin: 30px 0 0 0;
  /* you can remove the bottom line if you are not liking the blog layout. */
  /* flex: 1 1 auto; */
}

/* .feature-description {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  overflow: hidden;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
} */

.feature-title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cards-section .card:hover .read-case {
  color: white !important;
}

.cards-section .card:hover .svg-icon {
  fill: white !important;
}

.cards-section .card .svg-icon {
  fill: #6c54a0 !important;
}

#tabContent div {
  right: -1000% !important;
  transition: all 500ms ease-out !important;
}

#tabContent div.active {
  right: 0 !important;
}

.top-62 {
  top: 28%;
  z-index: 10;
  width: 100%;
}

.top-25 {
  top: 72px;
  z-index: 10 !important;
  width: 100% !important;
  opacity: 100 !important;
}

#nav-item {
  background-color: white !important;
  /* width:100% */
  height: 100vh !important;
}

select option {
  background-color: white !important;
  color: #6c54a0;
}

#nav-item ul li {
  color: #6c54a0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  padding: 10px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}


@media screen and (min-width: 1024px) {
  .feature-description {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    overflow: hidden;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
  }
}

.twitter-timeline.twitter-timeline-rendered {
  height: 700px;
  overflow-y: scroll;
}

.menu-items li{
  cursor: pointer;
}