*{
    box-sizing: border-box;
}

.tabs .tab-header>div.active {
    color: white;
    background-color: #6C54A0;
}

.tabs .tab-content>div {
    top: -300%;
    transition: all 500ms ease-out;
}

.tabs .tab-content>div.active {
    top: 0px;
}

.tabs .tab-indicator {
    position: absolute;
    width: 4px;
    height: 39px;
    background: #6C54A0;
    left: 20%;
    top: 13px;
    transition: all 500ms ease-in-out;
    border-radius: 30px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 9px !important;
}

.blog-description {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.blog-title{
    display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.blog-title-cut{
    display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
}

.blog-body *{
    width: 45%;
    margin:12px;
    /* you can remove the bottom line if you are not liking the blog layout. */
    flex: 1 1 auto;
}


.blog-body p img {
    width: 100%;
    margin:12px;
}

.feature-description{
     display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        overflow: hidden;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
}

.feature-title{
     display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
}
.cards-section .card:hover .text-sumireVoilet{
    color: white;
}