---
title: Contact
description: "Get in touch with the YOUU team. Contact us for partnerships, support, or to learn how our behavioral health technology can transform your healthcare community."
layout: 'base.njk'
---


<div class="lg:px-16 py-5 h-auto mb-10 inline-block">
  <div class="tabs lg:grid grid-cols-5 h-auto relative">
    {%  include './tabs-menu.njk'%}
    <div class="tab-content lg:col-span-4 h-auto">
      {% include './templates/contact-template.njk' %}
    </div>
  </div>
</div>