---
title: Homepage
layout: 'base.njk'
---

<!--  cards section starts here  --->
<div class="cards-section mt-28 flex">
  <div class="w-2/6"></div>
</div>
<!--  cards section ends here  --->

<!--  Blogs section starts here  --->
<section class="w-full px-24 relative">
  <h3 class="text-2xl font-bold">The Blog</h3>
  <span>Catchup on the good stuff</span>
  <div class="flex justify-end">
    <div class="pagination flex justify-end mr-5 relative top-4"></div>
    <div class="prev-button">
      <img src="./assets/prev.svg" class="h-6" alt=""/>
    </div>
    <div class="next-button">
      <img src="./assets/next.svg" class="h-6" alt=""/>
    </div>
  </div>
  <div class="swiper mySwiper container">
    <div class="swiper-wrapper w-96 content">
      {%- for post in collections.post | reverse -%}
        {% include 'article-snippts.njk' %}
      {%- endfor -%}

      <!-- <div class="swiper-slide card">
            <div class="card-content">
              <div class="image">
                <img src="images/9.jpg" alt="" />
              </div>

              <div class="media-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-github"></i>
              </div>

              <div class="name-profession">
                <span class="name">Heather Cornwell</span>
                <span class="profession">Systems Engineer</span>
              </div>

              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>

              <div class="button">
                <button class="aboutMe">About Me</button>
                <button class="hireMe">Hire Me</button>
              </div>
            </div>
          </div> -->
    </div>
  </div>
</section>
<!--  Blogs section ends here  --->