---
title: Youu
layout: 'base.njk'
---

{# Tabs section start here #}
{% include "./tabs.njk" %}
{# Tabs section end here #}

{# cards section starts here #}
<div class="cards-section p-20  grid grid-cols-4 gap-4 pt-44">
  <div class="w-72">
    <a class="twitter-timeline" data-theme="light" data-tweet-limit="3" href="https://twitter.com/SoberPeer?ref_src=twsrc%5Etfw">Tweets by SoberPeer</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsoberpeer&tabs=timeline&width=288px&height=499&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId" width="288px" height="499" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
  </div>

  <div class="cards-container h-fit grid col-span-3 lg:grid-cols-2 gap-0">
    <h3 class="font-bold col-span-2 text-4xl w-9/12">
          Why YOUU is the most powerful AI-interconnected, hyper-personalized
          digital health platform ever.
        </h3>
    {%- for feature in collections.feature -%}
      {% include 'feature.njk' %}
    {%- endfor -%}

  </div>
</div>
{# cards section ends here #}

{# Blogs section starts here #}
<section class="w-full mt-10 px-20 relative">
  <div class="flex justify-between items-center mb-8">
    <div>
      <h3 class="text-4xl font-bold mb-3">The Blog</h3>
      <span class="text-xs">Catchup on the good stuff</span>
    </div>

    <div class="flex justify-end">
      <div class="pagination flex justify-end mr-5 relative top-2"></div>
      <div class="prev-button w-14">
        <img src="./assets/prev.svg" class="h-6 mr-3" alt=""/>
      </div>
      <div class="next-button w-14">
        <img src="./assets/next.svg" class="h-6" alt=""/>
      </div>
    </div>
  </div>
  <div class="swiper mySwiper container">
    <div class="swiper-wrapper w-96 content">
      {%- for post in collections.post | reverse -%}
        {% include 'article-snippts.njk' %}
      {%- endfor -%}
    </div>
  </div>
</section>
{# Blogs section ends here #}