---
title: Our Team
description: "Meet the dedicated professionals behind YOUU's mission to transform behavioral healthcare. Learn about our leadership team and their expertise in AI technology and community health."
layout: 'base.njk'
---



<div class="lg:px-16 py-5 h-auto mb-10 inline-block">
  <div class="tabs lg:grid grid-cols-5 h-auto relative">
    {%  include './tabs-menu.njk'%}
    <div class="tab-content lg:col-span-4 h-auto">
      {% include './templates/our-team-template.njk' %}
    </div>
  </div>
</div>

