---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://youu.com/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  
  <url>
    <loc>https://youu.com/about/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>https://youu.com/blog/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  
  <url>
    <loc>https://youu.com/news/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>https://youu.com/our-team/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>https://youu.com/contact/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  
  <url>
    <loc>https://youu.com/contactyouuniverse/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  
  <url>
    <loc>https://youu.com/support/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <url>
    <loc>https://youu.com/privacy-policy/</loc>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>
  
  <url>
    <loc>https://youu.com/terms-and-conditions/</loc>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>
  
  <url>
    <loc>https://youu.com/refund-policy/</loc>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>
  
  <url>
    <loc>https://youu.com/cookie-policy/</loc>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>
  
  <url>
    <loc>https://youu.com/acceptable-use-policy/</loc>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>
  
  <url>
    <loc>https://youu.com/disclaimer/</loc>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>
  
  {%- for post in collections.blog -%}
  <url>
    <loc>https://youu.com{{ post.url }}</loc>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {%- endfor -%}
  
  {%- for news in collections.news -%}
  <url>
    <loc>https://youu.com{{ news.url }}</loc>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {%- endfor -%}
  
  {%- for feature in collections.features -%}
  <url>
    <loc>https://youu.com{{ feature.url }}</loc>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {%- endfor -%}
  
  {%- for slider in collections.slider -%}
  <url>
    <loc>https://youu.com{{ slider.url }}</loc>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {%- endfor -%}
</urlset>
