{# Tabs section starts here #}
    <div class="p-20 h-auto mb-10">
      <div class="tabs flex h-auto relative">
        <div class="tab-header pr-2 h-auto w-1/5 border-r-4">
          <div
            class="h-12 mt-2 border-2 active shadow-lg rounded-md text-purple-700 whitespace-nowrap leading-10 text-sm font-semibold cursor-pointer">
            <span class="pl-6">Overview</span>
          </div>
          <div
            class="h-12 mt-2 border-2 shadow-lg rounded-md text-purple-700 whitespace-nowrap leading-10 text-sm font-semibold cursor-pointer">
            <span class="pl-6">Provider</span>
          </div>
          <div
            class="h-12 mt-2 border-2 shadow-lg rounded-md whitespace-nowrap text-purple-700 leading-10 text-sm font-semibold cursor-pointer">
            <span class="pl-6">Payer</span>
          </div>
          <div
            class="h-12 mt-2 border-2 shadow-lg rounded-md whitespace-nowrap text-purple-700 leading-10 text-sm font-semibold cursor-pointer">
            <span class="pl-6">Med Tech</span>
          </div>
          <div
            class="h-12 mt-2 border-2 shadow-lg rounded-md whitespace-nowrap text-purple-700 leading-10 text-sm font-semibold cursor-pointer">
            <span class="pl-6">Health Cloud</span>
          </div>
          <div
            class="h-12 mt-2 border-2 shadow-lg rounded-md whitespace-nowrap text-purple-700 leading-10 text-sm font-semibold cursor-pointer">
            <span class="pl-6">Public Sector</span>
          </div>
          <div
            class="h-12 mt-2 border-2 shadow-lg rounded-md whitespace-nowrap text-purple-700 leading-10 text-sm font-semibold cursor-pointer">
            <span class="pl-6">Patients</span>
          </div>
          <div
            class="h-12 mt-2 border-2 shadow-lg rounded-md whitespace-nowrap text-purple-700 leading-10 text-sm font-semibold cursor-pointer">
            <span class="pl-6">Cosumers</span>
          </div>
          <div
            class="h-12 mt-2 border-2 shadow-lg rounded-md whitespace-nowrap text-purple-700 leading-10 text-sm font-semibold cursor-pointer">
            <span class="pl-6">Resource</span>
          </div>
        </div>
  <div class="tab-indicator"></div>
        <!-- col-span-2 relative h-full overflow-hidden -->
        <div class="tab-content h-auto mt-12 w-4/5">
          <div class="absolute mt-5 flex py-5 active">
            <span class="w-1/2 ml-12">
              <p class="mb-5">EXPERIENCE YOUR YOUUNIVERSE</p>
              <h2 class="font-bold text-4xl mb-5">
                Why Digital Health Cloud platforms beat EHR systems every time
              </h2>
              <p class="mb-5">
                Our hyper-connected health cloud allows you to quickly build
                digital healthcare communities across any care continuum for
                the life of the patient. Keep your existing systems, or your
                EHR (or, use ours – it’s really good)! Then, wrap it with the
                important revenue driving and outcome producing workflows.
                That’ll save you time and money. Ask us how
              </p>

              </p>
              <p class="font-semibold mb-3">
                Here’s why more and more healthcare innovators want in:
              </p>

              <span class="mb-3 flex items-start">
                <!-- <input type="checkbox" class="accent-orange-500 mt-2 mr-2" name="name1" id="overview-name1" /> -->
                <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="">
                <p>Our super smart YOUUtilityTM Augmented Intelligence,
                  value-based interconnected care workflows and mobile devices
                  makes providing care easier with less hassle.</p>
              </span>

              <span class="mb-3 flex items-start">
                <!-- <input type="checkbox" class="accent-orange-500 mt-2 mr-2" name="name1" id="overview-name1" /> -->
                <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="">
                <p>Our super smart YOUUtilityTM Augmented Intelligence,
                  value-based interconnected care workflows and mobile devices
                  makes providing care easier with less hassle.</p>
              </span>
              <span class="mb-3 flex items-start">
                <!-- <input type="checkbox" class="accent-orange-500 mt-2 mr-2" name="name1" id="overview-name1" /> -->
                <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="">
                <p>Our super smart YOUUtilityTM Augmented Intelligence,
                  value-based interconnected care workflows and mobile devices
                  makes providing care easier with less hassle.</p>
              </span>

              <span class="footer absolute top-full">
                <button class="bg-sumireVoilet px-4 py-2 text-sm rounded-md text-white">
                  Watch Demo
                </button>
                <button class="text-sumireVoilet ml-7 font-semibold text-xs">
                  READ THE CASE STUDY
                </button>
              </span>
            </span>
          <span class="w-1/2 flex justify-center items-center">
          
            <span class=" rounded-md shadow-md">
              <!-- <img src="./assets/tab_photo.svg" alt="" class="h-72 w-80" /> -->
              <iframe width="560" height="315" src="https://www.youtube.com/embed/o1lz1OhqdSg" class="bg-purple-200 w-80 h-72"
                frameborder="0" allowfullscreen></iframe>
              <img src="./assets/tab_footer_photo.svg" alt="" class="w-64 m-auto" />
            </span>
          </span>
          </div>
          <div class="absolute mt-5 flex py-5">
            <span class="w-1/2 ml-12">
              <p class="mb-5">EXPERIENCE YOUR YOUUNIVERSE</p>
              <h2 class="font-bold text-4xl mb-5">
                Why Digital Health Cloud platforms beat EHR systems every time
              </h2>
              <p class="mb-5">
                Our hyper-connected health cloud allows you to quickly build
                digital healthcare communities across any care continuum for
                the life of the patient. Keep your existing systems, or your
                EHR (or, use ours – it’s really good)! Then, wrap it with the
                important revenue driving and outcome producing workflows.
                That’ll save you time and money. Ask us how
              </p>

              </p>
              <p class="font-semibold mb-3">
                Here’s why more and more healthcare innovators want in:
              </p>

              <span class="mb-3 flex items-start">
                <!-- <input type="checkbox" class="accent-orange-500 mt-2 mr-2" name="name1" id="overview-name1" /> -->
                <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="">
                <p>Our super smart YOUUtilityTM Augmented Intelligence,
                  value-based interconnected care workflows and mobile devices
                  makes providing care easier with less hassle.</p>
              </span>
              <span class="mb-3 flex items-start">
                <!-- <input type="checkbox" class="accent-orange-500 mt-2 mr-2" name="name1" id="overview-name1" /> -->
                <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="">
                <p>Our super smart YOUUtilityTM Augmented Intelligence,
                  value-based interconnected care workflows and mobile devices
                  makes providing care easier with less hassle.</p>
              </span>
              <span class="mb-3 flex items-start">
                <!-- <input type="checkbox" class="accent-orange-500 mt-2 mr-2" name="name1" id="overview-name1" /> -->
                <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="">
                <p>Our super smart YOUUtilityTM Augmented Intelligence,
                  value-based interconnected care workflows and mobile devices
                  makes providing care easier with less hassle.</p>
              </span>

              <span class="footer absolute top-full">
                <button class="bg-sumireVoilet px-4 py-2 text-sm rounded-md text-white">
                  Watch Demo
                </button>
                <button class="text-sumireVoilet ml-7 font-semibold text-xs">
                  READ THE CASE STUDY
                </button>
              </span>
            </span>
            <span class="w-1/2 flex justify-center items-center">

              <span class=" rounded-md shadow-md">
                <!-- <img src="./assets/tab_photo.svg" alt=""
                  class="h-72 w-80" /> -->
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/o1lz1OhqdSg" class="bg-purple-200 w-80 h-72"
                    frameborder="0" allowfullscreen></iframe>
                <img src="./assets/tab_footer_photo.svg" alt="" class="w-64 m-auto" />
              </span>
            </span>
          </div>
          <div class="absolute mt-5 flex py-5">
            <span class="w-1/2 ml-12">
              <p class="mb-5">EXPERIENCE YOUR YOUUNIVERSE</p>
              <h2 class="font-bold text-4xl mb-5">
                Why Digital Health Cloud platforms beat EHR systems every time
              </h2>
              <p class="mb-5">
                Our hyper-connected health cloud allows you to quickly build
                digital healthcare communities across any care continuum for
                the life of the patient. Keep your existing systems, or your
                EHR (or, use ours – it’s really good)! Then, wrap it with the
                important revenue driving and outcome producing workflows.
                That’ll save you time and money. Ask us how
              </p>

              </p>
              <p class="font-semibold mb-3">
                Here’s why more and more healthcare innovators want in:
              </p>

              <span class="mb-3 flex items-start">
                <!-- <input type="checkbox" class="accent-orange-500 mt-2 mr-2" name="name1" id="overview-name1" /> -->
                <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="">
                <p>Our super smart YOUUtilityTM Augmented Intelligence,
                  value-based interconnected care workflows and mobile devices
                  makes providing care easier with less hassle.</p>
              </span>

              <span class="footer absolute top-full">
                <button class="bg-sumireVoilet px-4 py-2 text-sm rounded-md text-white">
                  Watch Demo
                </button>
                <button class="text-sumireVoilet ml-7 font-semibold text-xs">
                  READ THE CASE STUDY
                </button>
              </span>
            </span>
            <span class="w-1/2 flex justify-center items-center">
            
              <span class=" rounded-md shadow-md">
                <!-- <img src="./assets/tab_photo.svg" alt="" class="h-72 w-80" /> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/o1lz1OhqdSg" class="bg-purple-200 w-80 h-72"
                  frameborder="0" allowfullscreen></iframe>
                <img src="./assets/tab_footer_photo.svg" alt="" class="w-64 m-auto" />
              </span>
            </span>
          </div>
          <div class="absolute mt-5 flex py-5">
            <span class="w-1/2 ml-12">
              <p class="mb-5">EXPERIENCE YOUR YOUUNIVERSE</p>
              <h2 class="font-bold text-4xl mb-5">
                Why Digital Health Cloud platforms beat EHR systems every time
              </h2>
              <p class="mb-5">
                Our hyper-connected health cloud allows you to quickly build
                digital healthcare communities across any care continuum for
                the life of the patient. Keep your existing systems, or your
                EHR (or, use ours – it’s really good)! Then, wrap it with the
                important revenue driving and outcome producing workflows.
                That’ll save you time and money. Ask us how
              </p>

              </p>
              <p class="font-semibold mb-3">
                Here’s why more and more healthcare innovators want in:
              </p>

              <span class="mb-3 flex items-start">
                <!-- <input type="checkbox" class="accent-orange-500 mt-2 mr-2" name="name1" id="overview-name1" /> -->
                <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="">
                <p>Our super smart YOUUtilityTM Augmented Intelligence,
                  value-based interconnected care workflows and mobile devices
                  makes providing care easier with less hassle.</p>
              </span>

              <span class="footer absolute top-full">
                <button class="bg-sumireVoilet px-4 py-2 text-sm rounded-md text-white">
                  Watch Demo
                </button>
                <button class="text-sumireVoilet ml-7 font-semibold text-xs">
                  READ THE CASE STUDY
                </button>
              </span>
            </span>
            <span class="w-1/2 flex justify-center items-center">
            
              <span class=" rounded-md shadow-md">
                <!-- <img src="./assets/tab_photo.svg" alt="" class="h-72 w-80" /> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/o1lz1OhqdSg" class="bg-purple-200 w-80 h-72"
                  frameborder="0" allowfullscreen></iframe>
                <img src="./assets/tab_footer_photo.svg" alt="" class="w-64 m-auto" />
              </span>
            </span>
          </div>
          <div class="absolute mt-5 flex py-5">
            <span class="w-1/2 ml-12">
              <p class="mb-5">EXPERIENCE YOUR YOUUNIVERSE</p>
              <h2 class="font-bold text-4xl mb-5">
                Why Digital Health Cloud platforms beat EHR systems every time
              </h2>
              <p class="mb-5">
                Our hyper-connected health cloud allows you to quickly build
                digital healthcare communities across any care continuum for
                the life of the patient. Keep your existing systems, or your
                EHR (or, use ours – it’s really good)! Then, wrap it with the
                important revenue driving and outcome producing workflows.
                That’ll save you time and money. Ask us how
              </p>

              </p>
              <p class="font-semibold mb-3">
                Here’s why more and more healthcare innovators want in:
              </p>

              <span class="mb-3 flex items-start">
                <!-- <input type="checkbox" class="accent-orange-500 mt-2 mr-2" name="name1" id="overview-name1" /> -->
                <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="">
                <p>Our super smart YOUUtilityTM Augmented Intelligence,
                  value-based interconnected care workflows and mobile devices
                  makes providing care easier with less hassle.</p>
              </span>

              <span class="footer absolute top-full">
                <button class="bg-sumireVoilet px-4 py-2 text-sm rounded-md text-white">
                  Watch Demo
                </button>
                <button class="text-sumireVoilet ml-7 font-semibold text-xs">
                  READ THE CASE STUDY
                </button>
              </span>
            </span>
            <span class="w-1/2 flex justify-center items-center">
            
              <span class=" rounded-md shadow-md">
                <!-- <img src="./assets/tab_photo.svg" alt="" class="h-72 w-80" /> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/o1lz1OhqdSg" class="bg-purple-200 w-80 h-72"
                  frameborder="0" allowfullscreen></iframe>
                <img src="./assets/tab_footer_photo.svg" alt="" class="w-64 m-auto" />
               
              </span>
            </span>
          </div>
          <div class="absolute mt-5 flex py-5">
            <span class="w-1/2 ml-12">
              <p class="mb-5">EXPERIENCE YOUR YOUUNIVERSE</p>
              <h2 class="font-bold text-4xl mb-5">
                Why Digital Health Cloud platforms beat EHR systems every time
              </h2>
              <p class="mb-5">
                Our hyper-connected health cloud allows you to quickly build
                digital healthcare communities across any care continuum for
                the life of the patient. Keep your existing systems, or your
                EHR (or, use ours – it’s really good)! Then, wrap it with the
                important revenue driving and outcome producing workflows.
                That’ll save you time and money. Ask us how
              </p>

              </p>
              <p class="font-semibold mb-3">
                Here’s why more and more healthcare innovators want in:
              </p>

              <span class="mb-3 flex items-start">
                <!-- <input type="checkbox" class="accent-orange-500 mt-2 mr-2" name="name1" id="overview-name1" /> -->
                <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="">
                <p>Our super smart YOUUtilityTM Augmented Intelligence,
                  value-based interconnected care workflows and mobile devices
                  makes providing care easier with less hassle.</p>
              </span>

              <span class="footer absolute top-full">
                <button class="bg-sumireVoilet px-4 py-2 text-sm rounded-md text-white">
                  Watch Demo
                </button>
                <button class="text-sumireVoilet ml-7 font-semibold text-xs">
                  READ THE CASE STUDY
                </button>
              </span>
            </span>
            <span class="w-1/2 flex justify-center items-center">
            
              <span class=" rounded-md shadow-md">
                <!-- <img src="./assets/tab_photo.svg" alt="" class="h-72 w-80" /> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/o1lz1OhqdSg" class="bg-purple-200 w-80 h-72"
                  frameborder="0" allowfullscreen></iframe>
                <img src="./assets/tab_footer_photo.svg" alt="" class="w-64 m-auto" />
              </span>
            </span>
          </div>
          <div class="absolute mt-5 flex py-5">
            <span class="w-1/2 ml-12">
              <p class="mb-5">EXPERIENCE YOUR YOUUNIVERSE</p>
              <h2 class="font-bold text-4xl mb-5">
                Why Digital Health Cloud platforms beat EHR systems every time
              </h2>
              <p class="mb-5">
                Our hyper-connected health cloud allows you to quickly build
                digital healthcare communities across any care continuum for
                the life of the patient. Keep your existing systems, or your
                EHR (or, use ours – it’s really good)! Then, wrap it with the
                important revenue driving and outcome producing workflows.
                That’ll save you time and money. Ask us how
              </p>

              </p>
              <p class="font-semibold mb-3">
                Here’s why more and more healthcare innovators want in:
              </p>

              <span class="mb-3 flex items-start">
                <!-- <input type="checkbox" class="accent-orange-500 mt-2 mr-2" name="name1" id="overview-name1" /> -->
                <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="">
                <p>Our super smart YOUUtilityTM Augmented Intelligence,
                  value-based interconnected care workflows and mobile devices
                  makes providing care easier with less hassle.</p>
              </span>

              <span class="footer absolute top-full">
                <button class="bg-sumireVoilet px-4 py-2 text-sm rounded-md text-white">
                  Watch Demo
                </button>
                <button class="text-sumireVoilet ml-7 font-semibold text-xs">
                  READ THE CASE STUDY
                </button>
              </span>
            </span>
            <span class="w-1/2 flex justify-center items-center">
            
              <span class=" rounded-md shadow-md">
                <!-- <img src="./assets/tab_photo.svg" alt="" class="h-72 w-80" /> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/o1lz1OhqdSg" class="bg-purple-200 w-80 h-72"
                  frameborder="0" allowfullscreen></iframe>
                <img src="./assets/tab_footer_photo.svg" alt="" class="w-64 m-auto" />
              </span>
            </span>
          </div>
          <div class="absolute mt-5 flex py-5">
            <span class="w-1/2 ml-12">
              <p class="mb-5">EXPERIENCE YOUR YOUUNIVERSE</p>
              <h2 class="font-bold text-4xl mb-5">
                Why Digital Health Cloud platforms beat EHR systems every time
              </h2>
              <p class="mb-5">
                Our hyper-connected health cloud allows you to quickly build
                digital healthcare communities across any care continuum for
                the life of the patient. Keep your existing systems, or your
                EHR (or, use ours – it’s really good)! Then, wrap it with the
                important revenue driving and outcome producing workflows.
                That’ll save you time and money. Ask us how
              </p>

              </p>
              <p class="font-semibold mb-3">
                Here’s why more and more healthcare innovators want in:
              </p>

              <span class="mb-3 flex items-start">
                <!-- <input type="checkbox" class="accent-orange-500 mt-2 mr-2" name="name1" id="overview-name1" /> -->
                <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="">
                <p>Our super smart YOUUtilityTM Augmented Intelligence,
                  value-based interconnected care workflows and mobile devices
                  makes providing care easier with less hassle.</p>
              </span>

              <span class="footer absolute top-full">
                <button class="bg-sumireVoilet px-4 py-2 text-sm rounded-md text-white">
                  Watch Demo
                </button>
                <button class="text-sumireVoilet ml-7 font-semibold text-xs">
                  READ THE CASE STUDY
                </button>
              </span>
            </span>
            <span class="w-1/2 flex justify-center items-center">
            
              <span class=" rounded-md shadow-md">
                <!-- <img src="./assets/tab_photo.svg" alt="" class="h-72 w-80" /> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/o1lz1OhqdSg" class="bg-purple-200 w-80 h-72"
                  frameborder="0" allowfullscreen></iframe>
                <img src="./assets/tab_footer_photo.svg" alt="" class="w-64 m-auto" />
              </span>
            </span>
          </div>
          <div class="absolute mt-5 flex py-5">
            <span class="w-1/2 ml-12">
              <p class="mb-5">EXPERIENCE YOUR YOUUNIVERSE</p>
              <h2 class="font-bold text-4xl mb-5">
                Why Digital Health Cloud platforms beat EHR systems every time
              </h2>
              <p class="mb-5">
                Our hyper-connected health cloud allows you to quickly build
                digital healthcare communities across any care continuum for
                the life of the patient. Keep your existing systems, or your
                EHR (or, use ours – it’s really good)! Then, wrap it with the
                important revenue driving and outcome producing workflows.
                That’ll save you time and money. Ask us how
              </p>

              </p>
              <p class="font-semibold mb-3">
                Here’s why more and more healthcare innovators want in:
              </p>

              <span class="mb-3 flex items-start">
                <!-- <input type="checkbox" class="accent-orange-500 mt-2 mr-2" name="name1" id="overview-name1" /> -->
                <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="">
                <p>Our super smart YOUUtilityTM Augmented Intelligence,
                  value-based interconnected care workflows and mobile devices
                  makes providing care easier with less hassle.</p>
              </span>

              <span class="footer absolute top-full">
                <button class="bg-sumireVoilet px-4 py-2 text-sm rounded-md text-white">
                  Watch Demo
                </button>
                <button class="text-sumireVoilet ml-7 font-semibold text-xs">
                  READ THE CASE STUDY
                </button>
              </span>
            </span>
            <span class="w-1/2 flex justify-center items-center">
            
              <span class=" rounded-md shadow-md">
                <!-- <img src="./assets/tab_photo.svg" alt="" class="h-72 w-80" /> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/o1lz1OhqdSg" class="bg-purple-200 w-80 h-72"
                  frameborder="0" allowfullscreen></iframe>
                <img src="./assets/tab_footer_photo.svg" alt="" class="w-64 m-auto" />
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  {# Tabs section ends here #}