{# Tabs section starts here #}
<div class="px-16 py-5 h-auto mb-10 hidden overflow-hidden lg:inline-block">
  <div class="tabs flex h-auto relative">
    <div class="tab-header pr-2 h-fit w-1/5 border-r-4 ml-1.2">

      {%- for slider in collections.slider -%}
        {% include 'sliderTitle.njk' %}
      {%- endfor -%}
    </div>
    
    <div class="tab-indicator"></div>
    <!-- col-span-2 relative h-full overflow-hidden -->
    <div class="tab-content h-auto w-4/5">
      {%- for slider in collections.slider -%}
        {% include 'slider.njk' %}
      {%- endfor -%}
    {{ content | safe }}
    </div>
  </div>
      {%- for contact in collections.contact -%}
        {% include 'contact.njk' %}
      {%- endfor -%}
</div>

<div class=" relative  sm:inline-block md:inline-block lg:hidden overflow-hidden" style="width: 100%">
  <select name="" id="tabTitle" style="width: 95%" class="mb-8 mx-4 border-2 p-2.5 rounded-md text-sumireVoilet font-semibold outline-0 border-sumireVoilet ">
    {%- for slider in collections.slider -%}
      <option value="{{ slider.data.slideButtonText }}">{{ slider.data.slideButtonText }}</option>
    {%- endfor -%}
  </select>
  <div id="tabContent" class="tabContent" style="min-height: 500px">
    {%- for slider in collections.slider -%}
      {# {% include 'feature.njk' %} #}
      <div class="absolute mx-4" id="{{ slider.data.slideButtonText }}">
        <p class="mb-5">{{ slider.data.slideShortTitle }}</p>
        <h2 class="font-bold text-3xl lg:text-4xl mb-5">
          {{ slider.data.slideTitle }}
        </h2>
        <p class="mb-5">
          {{ slider.data.sliderDescription }}
        </p>
        <span class="mb-3 flex items-start">
          <img src="./assets/pointer.svg" class="mr-3 mt-1" alt="">
            <p>Our super smart YOUUtilityTM Augmented Intelligence, value-based interconnected care workflows and mobile devices
              makes providing care easier with less hassle.</p>
          </span>
          <span class="footer top-full">
            <button class="bg-sumireVoilet px-4 py-2 text-sm rounded-md text-white">
              Watch Demo
            </button>
            <a href="{{ slider.url }}" class="text-sumireVoilet ml-7 font-semibold text-xs">
              READ THE CASE STUDY
              <img src="/assets/read_study_case.svg" alt="" style="display:inline-block; margin-bottom:3px;margin-left:2px"></a>
            </span>
            <span
              class=" rounded-md shadow-md inline-block mt-4 w-full">
              <!-- <img src="./assets/tab_photo.svg" alt="" class="h-72 w-80" /> -->
              <iframe src="{{ slider.data.videoURL }}" class="bg-purple-200  h-72" frameborder="0" allowfullscreen style="width: 100%"></iframe>
              <img src="./assets/tab_footer_photo.svg" alt="" class="w-64 m-auto"/>
            </span>
          </div>
        {%- endfor -%}
      </div>
    </div>
{# Tabs section ends here #}