{# Tabs section starts here #}
<div class="p-20 h-auto mb-10">
  <div class="tabs flex h-auto relative">
    <div class="tab-header pr-2 h-auto w-1/5 border-r-4">

      {%- for slider in collections.slider -%}
        {% include 'sliderTitle.njk' %}
      {%- endfor -%}
    </div>
    <div class="tab-indicator"></div>
    <!-- col-span-2 relative h-full overflow-hidden -->
    <div class="tab-content h-auto mt-12 w-4/5">
      {%- for slider in collections.slider -%}
        {% include 'slider.njk' %}
      {%- endfor -%}
      
    {{ content | safe }}
    </div>
  </div>
</div>
{# Tabs section ends here #}