---
title: Terms and Conditions
layout: 'base.njk'
---

{# support section starts here #}
<section class="w-full px-4 lg:px-16 relative mt-5">
    <p class="text-4xl font-bold mt-12">Terms and Conditions</p>
    {%- for terms in collections.terms -%}
        <div class="blog-body text-lg">
            {{ terms.templateContent | safe }}
        </div>
    {%- endfor -%}
</section>
{# support section ends here #}